.hamburger-icon {
  display: block;
  width: $hamburger-button-open-width-small;
  height: $hamburger-button-open-width-small;
  background-color: $color-yellow;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $color-yellow-hover;
  }

  .hamburger-icon-lines {
    @include center-align(absolute);
    width: 100%;
  }

  .hamburger-icon-line {
    width: 38%;
    height: 2px;
    background-color: white;
    margin: 0 auto 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include medium {
    width: $hamburger-button-open-width-medium;
    height: $hamburger-button-open-width-medium;

    .hamburger-icon-line {
      margin-bottom: 5px;
    }
  }

  @include large {
    width: $hamburger-button-open-width-large;
    height: $hamburger-button-open-width-large;
  }
}
