// Default variables -- feel free to override
$hamburger-menu-z-index: 10 !default;
$hamburger-menu-width-small: 260px !default;
$hamburger-menu-width-medium: $hamburger-menu-width-small !default;
$hamburger-menu-width-large: $hamburger-menu-width-small !default;
$hamburger-button-close: '/assets/images/hamburger-button-close.svg' !default;
